* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
#navbar ul li a {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  padding: 0 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#navbar ul li a:hover {
  color: #FFC178;
}

#banner {
  background: url(../img/banner.jpg) no-repeat center/cover;
}
#banner .overlay {
  padding: 462px 0;
  background-color: rgba(0, 0, 0, 0.245);
}
#banner .overlay .content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 7px;
  text-transform: uppercase;
}
#banner .overlay .content h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 100px;
  color: white;
  margin-top: 37px;
}
#banner .overlay .content h4 {
  font-size: 88px;
  font-weight: 400;
  color: white;
  margin-top: 37px;
}

#holyday {
  padding: 300px 0;
}
#holyday .img {
  padding-right: 25px;
}
#holyday .img img {
  width: 100%;
}
#holyday .content {
  padding-left: 30px;
}
#holyday .content h5 {
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
#holyday .content h3 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  line-height: 80px;
}
#holyday .content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  color: white;
  margin-top: 13px;
}
#holyday .content a {
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
  color: #FFC178;
  text-transform: capitalize;
  margin-top: 66px;
}

#climb_together .image {
  background: url(../img/bromo.jpg) no-repeat center/cover;
}
#climb_together .image .overlay {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 560px 0 33px 0;
}
#climb_together .image .overlay .content {
  text-align: center;
}
#climb_together .image .overlay .content h4 {
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
#climb_together .image .overlay .content h3 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  line-height: 80px;
  margin-bottom: 13px;
}
#climb_together .image .overlay .content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  color: white;
  margin-bottom: 26px;
}
#climb_together .image .overlay .content a {
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
  color: #FFC178;
  text-transform: capitalize;
}

#indoCulture {
  padding: 290px 0 200px 0;
}
#indoCulture .content h5 {
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 7px;
  text-transform: uppercase;
}
#indoCulture .content h3 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  line-height: 80px;
  margin: 19px 0;
}
#indoCulture .content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  color: white;
}
#indoCulture .content a {
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
  color: #FFC178;
  text-transform: capitalize;
  margin-top: 47px;
}
#indoCulture .img img {
  width: 100%;
}

#footer .footerTop {
  margin-bottom: 82px;
}
#footer .footerTop h6 {
  font-size: 22px;
  font-weight: 400;
  line-height: auto;
  color: white;
}
#footer .footerTop .footerBtn {
  font-size: 17px;
  font-weight: 700;
  line-height: auto;
  color: black;
  padding: 15px 35px;
  background-color: #FFC178;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#footer .footerBottom .left h5 {
  font-size: 36px;
  font-weight: 700;
  line-height: auto;
  color: white;
}
#footer .footerBottom .left .terms {
  font-size: 15px;
  font-weight: 400;
  list-style: auto;
  color: white;
  margin: 50px 0 34px 0;
}
#footer .footerBottom .left .icons {
  display: flex;
  gap: 30px;
}
#footer .footerBottom .left .icons .icon a {
  font-size: 20px;
  color: white;
}
#footer .footerBottom .right {
  display: flex;
  justify-content: space-between;
}
#footer .footerBottom .right .item h4 {
  font-size: 20px;
  font-weight: 700;
  color: #FFC178;
  margin-bottom: 30px;
}
#footer .footerBottom .right .item ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#footer .footerBottom .right .item ul li a {
  font-size: 19px;
  font-weight: 400;
  color: white;
}
#footer .copyright p {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}